<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>欧易注册下载教程</h2> 
                <p>访问欧易官网进行注册<a class="register-button" href="https://ouyigw.org/join/CNOFF">访问欧易官网</a>，非欧易官网，本网站来自欧易粉丝创建</p>
                <ul class="actions">
                    <li><a class="register-button button big special" href="https://ouyigw.org/join/CNOFF">访问欧易官网</a></li>
                    <li><a href="./right-sidebar.html" class="button big alt">下载教程</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
